<!--HTML-->
<style>
/*CSS*/
html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin:0;
  overflow: hidden;
  font-family: Helvetica;
}
#tree{
  width:100%;
  height:100%;
}
.mini-map {
  bottom: 45px !important;
}

</style>
<script src="familytree.js"></script>
<div id="tree"/>

<script>
    var family = new FamilyTree(document.getElementById("tree"), {
        nodeBinding: {
            field_0: "name"
        },
        nodes: [
            { id: 1, pids: [2], orderId: 1, relationship: "Great Great mainfather", name: "Jessie England", img: "https://cdn.balkan.app/shared/m60/1.jpg", bdate: 1800, ddate: 1900 },
            { id: 2, pids: [1], name: "Ava Field" },
            { id: 3, mid: 1, fid: 2, name: "Peter Stevens" },  
            { id: 4, pids: [6,7],mid: 1, fid: 2, name: "Elbi Stevens" },
            { id: 5, mid: 1, fid: 2, name: "Jonathan Stevens" },    
            { id: 6, pids: [4], name: "Suzie" },
            { id: 7, pids: [4], name: "Suzan" },
            { id: 8, mid: 6, fid: 4, name: "Robert Stevens" },  
        ]
    });
</script> 